h1 {
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2 {
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-image: url(lighthouse4k.webp);
    background-repeat: no-repeat;
    background-color: black;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
li{
    float: left;
}
li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:link {
    color: grey; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent; 
    text-decoration: none;
  }
  a:visited {
    background-color: transparent;
    text-decoration: none;
  }
  .topnav a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .topnav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .YT {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  @media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
  }
  @media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
  }
  p {
    color: white;
    text-align: center;
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    overflow: visible;
  }
 
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  iframe {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
  }
  .pics img {
    height: 74%;
    width: 30%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .container{
    width: 30%;
    height: auto;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  form{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    display: inline-block;

  }
  form h3{
    color: grey;
    font-weight: 800;
    margin-bottom: 20px;
  }
  form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: white;
    font-size: 16px;
  }

form button{
  padding: 15px;
  background: green;
  color: #f2f2f2;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;


}
/* styles for desktop devices */
@media only screen and (min-width: 992px) {
  body {
    font-size: 16px;
    width: 80%;
    margin: auto;
  }
}

/* styles for tablet devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 14px;
    width: 90%;
    margin: auto;
  }
}

/* styles for mobile devices */
@media only screen and (max-width: 767px) {
  body {
    font-size: 12px;
    width: 100%;
    margin: 0;
  }
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
}
.cashlinks {
  display: inline;
  float: left;
  padding-left: 150px;
}
.carllinks {
  display:inline;
  padding-right: 150px;
  float: right;
  
}